.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 20px;
  overflow: hidden
}

.main{
  flex:1;
}

@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 29% 1fr 29%;
    grid-template-rows: auto 1fr auto;
  }
}

.sett{
  text-align: center;
}

nav {
}

aside {
}



/*.settings{*/
  /*grid-template-columns: auto 90% auto;*/
/*}*/

/*form{*/
  /*grid-column: 2/3;*/
/*}*/
