.set-head{
  margin-top: 1%;

  display: grid;
  grid-template-columns: 29% 42% 29%;
}
.sett{
  text-align: center;
}

.settings{
  grid-template-columns: auto 90% auto;
}

form{
  grid-column: 2/3;
}

.box{
  grid-column: 2/3;
}
