label{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 85%;
}


.page{
  background: rgba(255,255,255,0.75);
  font-size: 85%;
  font-family: 'Libre Franklin', sans-serif;
}

.page:hover{
  background: rgba(255,255,255,0.5);
}

span{
  cursor: pointer;
}

a{
  padding-top:5px;
  padding-bottom:5px;
  padding-left: 2px;
  cursor: pointer;
}

a:hover{
  font-weight:bold;
}

a:hover{
  font-weight:bold;
}

.contents{
  margin-bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;
}
