

.section-header{
  margin: 0px;
}

label{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 85%;
}


.page{
  font-size: 85%;
  font-family: 'Libre Franklin', sans-serif;
}

a{
  padding-top:5px;
  padding-bottom:5px;
  padding-left: 2px;
}

a:hover{
  font-weight:bold;
}

.main{
  margin: 0px;
}


.contents{
  margin-bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;
}
