li:hover {
  text-decoration: none;
  border-bottom: 3px solid #00448f;
}

.section-header{
  margin: 0px;
}

label{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 85%;
}


.page{
  font-size: 85%;
  font-family: 'Libre Franklin', sans-serif;
}

ul{
  padding-left:20px;
}

.main{
  margin: 0px;
  display: grid;
  grid-template-columns: 4% auto;
}


.contents{
  grid-column: 2/3;
  margin-bottom: 10px;
}
