/*.body{*/
  /*display: grid;*/
  /*grid-template-columns: 29% 42% 29%;*/
  /*grid-template-rows: 2fr 8fr;*/
/*}*/

.login{
  /*grid-column: 2/3;*/
  /*grid-row: 2/3;*/
  border: 1px solid;
  padding: 9.5%;
}

.buttons{
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

button{
  text-align: center;
}

.loginbutton{
  grid-column: 0/1;
}

.signupbutton{
  grid-column: 3/4;
  padding-left: 7%;
}
