<div class="body">
  <div class="login">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" #emailbox>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" #passwd>
      </div>
      <div class="buttons">
        <button (click)="login(emailbox.value)" class="btn btn-primary loginbutton">Log-In</button>
        <button (click)="gosignup()" class="btn btn-primary signupbutton">Sign-Up</button>
      </div>
    </form>
  </div>
 </div>
