.main{
  display: grid;
  grid-template-columns: 20% auto;
  border: 1px solid #2e3038;
  border-radius: 10px;
}

h1{
  grid-column: 2/3;
  font-size: 1.6em;
  margin-top: 20px;
  font-family: 'Libre Franklin', sans-serif;
  margin-left: 5px;
}

a{
  color: black;
}

img{
  height: 150px;
  max-width: 100%;
  grid-column: 1/2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid #2e3038;
}
