<style>
  @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Franklin');
</style>

<div class="main">
  <div class="list">
    <div class="listnames">
      <div class="listheader">
        <a [href]="destination">{{ title }}</a>
      </div>
      <div class="viewall">
        <div id="child"><a [routerLink]="['/' + destination]">VIEW ALL</a></div>
      </div>
    </div>
    <hr>
    <div class="listitems">
      <div *ngFor="let item of datasource">
        <app-listitem [postAnnotation]="getPostAnnotation(item)" [destination]="getUrl(item)" [listname]="item.name"></app-listitem>
      </div>
    </div>
  </div>
</div>
