.main{
  display: grid;
  grid-template-columns: 29% 42% 29%;
}

.tit{
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: 'Libre Franklin', sans-serif;
  display: grid;
  grid-template-columns: 40% 35% 14% 13%;
}

app-fridgeitem{
  grid-column: 2/3;
}

.main2{
  display: grid;
  grid-template-columns: 29% 42% 29%;
  margin: 0px;
}

.titlename{
  grid-column: 1/2;
}

.section-icon{
  margin-bottom: 1px;
}

hr{
  margin: 2px;
  grid-column: 2/3;
}

.btn-group{
  grid-column: 3/4;
  font-family: 'Libre Franklin', sans-serif;
}


.btn-group2{
  grid-column: 4/5;
}
