<body>
<style>
  @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Franklin');
</style>

<app-logged-header></app-logged-header>
<br>

<div class="main">
  <div class="tit">
    <div class="titlename">
      WHAT'S ON MY FRIDGE  <a (click)="toggleAdd()" class="click"><i class="fas fa-edit section-icon"></i></a>
    </div>

    <div class="btn-group">
      Sorting
      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <h6 class="dropdown-header">When Added</h6>
        <a class="dropdown-item" href="#">Newest First</a>
        <a class="dropdown-item" href="#">Oldest First</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Expiry</h6>
        <a class="dropdown-item" href="#">Ascending</a>
        <a class="dropdown-item" href="#">Descending</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Alphabetic</a>
      </ul>
    </div>

    <div class="btn-group2">
      Show
      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <h6 class="dropdown-header">Expired In</h6>
        <a class="dropdown-item" href="#">Day</a>
        <a class="dropdown-item" href="#">Week</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Food</a>
        <a class="dropdown-item" href="#">Drink</a>

      </ul>
    </div>
  </div>
</div>

<div class="main">
  <hr>
</div>

<div class="main">
  <div class="search">
    <add-recipe (submit)="addNew($event)" *ngIf="add"></add-recipe>
  </div>
</div>

<div class="main2" *ngFor="let item of data">
    <app-fridgeitem [itemsrc]="item"></app-fridgeitem>
</div>

</body>
