<app-logged-header></app-logged-header>

<div class="row">
  <div class="col-3 usuals">
    <h1>Saved Lists</h1>
    <ul class="list-group">
      <li class="list-group-item"><h5>Previously made list templates</h5></li>

      <li class="list-group-item list-group-item-primary">Weekly Essentials
        <span><input type="checkbox" class="checks"></span>
      </li>
      <li class="list-group-item list-group-item-secondary">Going on a Diet
        <span><input type="checkbox" class="checks"></span>
      </li>
      <li class="list-group-item list-group-item-primary">Friends coming over
        <span><input type="checkbox" class="checks"></span>
      </li>
      <li class="list-group-item list-group-item-danger">Exams coming, stress eat
        <span><input type="checkbox" class="checks"></span>
      </li>
      <li class="list-group-item list-group-item-warning">Munchies
        <span><input type="checkbox" class="checks"></span>
      </li>
    </ul>

    <a href="#" class="btn btn-primary btn- active addbutton" role="button" aria-pressed="true">Add to List</a>

  </div>

  <div class="col-6 large">
    <h1>Grocery List  <span><i class="fas fa-edit"></i></span></h1>
    <ul class="list-group">
      <li class="list-group-item active">Raw Salmon
        <span><input type="checkbox" class="checks"></span>
      </li>
      <li class="list-group-item">Chicken Breast
        <span><input type="checkbox" class="checks"></span>
      </li>
      <li class="list-group-item">Full-Cream Milk
        <span><input type="checkbox" class="checks"></span>
      </li>
      <li class="list-group-item">Wholegrain Bread
        <span><input type="checkbox" class="checks"></span>
      </li>
      <li class="list-group-item">Coffee Ground
        <span><input type="checkbox" class="checks"></span>
      </li>
    </ul>

    <a href="#" class="btn btn-primary btn- active addbutton" role="button" aria-pressed="true">Confirm List</a>

  </div>





  <div class="col-3 add">
    <button type="button" class="btn btn-primary btn-lg addfridge"><i class="fas fa-plus fa-sm"></i>  Add to Fridge</button>

  </div>
</div>

<!--<div class="set-head">-->
  <!--<div class="box">-->

    <!--<h1 class="sett">Settings</h1>-->
    <!--<div class="dropdown-divider"></div>-->

    <!--<h3>Update Details</h3>-->
    <!--<div class="dropdown-divider"></div> -->
