
.large{
  text-align: center;
}
.add{
  text-align: center;
}
.usuals{
  text-align: center;
}

.addhead{
  margin-top: 2%;
}

.checks{
  float: right;
}

.addbutton{
  margin-top: 2%;
  float: right;
}
.addfridge{
  margin-top: 10%;
}
.translucent-list:hover{
  opacity: 0.8;
}

.lists{
	grid-area: list;
}

.groceries{
	grid-area: groceries;
}


.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "list"
    "groceries";
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 30% 70%;
    grid-template-areas:
      "list groceries"
  }
  nav ul {
    flex-direction: column;
  }
}