<app-logged-header></app-logged-header>

<div class="row">
  <div class="col-3">
    <h1>Usual Lists</h1>

  </div>

  <div class="col-6 large">
    <h1>Grocery List  <span><i class="fas fa-edit"></i></span></h1>
    <ul class="list-group">
      <li class="list-group-item active">Raw Salmon</li>
      <li class="list-group-item">Chicken Breast</li>
      <li class="list-group-item">Full-Cream Milk</li>
      <li class="list-group-item">Wholegrain Bread</li>
      <li class="list-group-item">Coffee Ground</li>
    </ul>
  </div>





  <div class="col-3 add">
    <h2 class="addhead"><i class="fas fa-plus fa-sm"></i>     Add to Fridge</h2>
  </div>
</div>

<!--<div class="set-head">-->
  <!--<div class="box">-->

    <!--<h1 class="sett">Settings</h1>-->
    <!--<div class="dropdown-divider"></div>-->

    <!--<h3>Update Details</h3>-->
    <!--<div class="dropdown-divider"></div> -->
