<app-logged-header></app-logged-header>

<div class="row">
  <div class="col-4 usuals">
    <h1>Saved Lists</h1>
    <li class="list-group-item"><h5>Previously made list templates</h5></li>
    <ul class="list-group" *ngFor="let item of appendableLists">

      <!-- <li class="list-group-item list-group-item-primary">Weekly Essentials
        <span><input type="checkbox" class="checks"></span>
      </li>
      <li class="list-group-item list-group-item-secondary">Going on a Diet
        <span><input type="checkbox" class="checks"></span>
      </li>
      <li class="list-group-item list-group-item-primary">Friends coming over
        <span><input type="checkbox" class="checks"></span>
      </li>
      <li class="list-group-item list-group-item-danger">Exams coming, stress eat
        <span><input type="checkbox" class="checks"></span>
      </li> -->
      <li class="list-group-item list-group-item-secondary"><a [routerLink]="['/singlelist']">{{ item.name }}</a>
        <span><input type="checkbox" class="checks" (click)="checks[item.name] = !checks[item.name]"></span>
      </li>
    </ul>

    <a class="btn btn-primary btn- active addbutton" role="button" aria-pressed="true" (click)="appendLists()">Add to List</a>

  </div>


  <div class="col-7 large">
    <h1>Grocery List  <span><i class="fas fa-edit"></i></span></h1>
    <ul class="list-group" *ngFor="let item of shoppingList">
      <li class="list-group-item">{{ item }}
        <span><input type="checkbox" class="checks"></span>
      </li>
    </ul>


    <button type="button" class="btn btn-primary btn-lg addfridge">Add to Fridge</button>

    <div class="col-1"></div>
  </div>




</div>

<!--<div class="set-head">-->
  <!--<div class="box">-->

    <!--<h1 class="sett">Settings</h1>-->
    <!--<div class="dropdown-divider"></div>-->

    <!--<h3>Update Details</h3>-->
    <!--<div class="dropdown-divider"></div> -->
