.main{
  display: grid;
  grid-template-columns: 29% 42% 29%;
}

.logged-header {
  color: white;
  background-color: green;
  grid-column: 2/3;
}

.user{
  margin-top: 10px;
  font-size: 100%;
}
.dropdown{
  margin-top: 5px;
  background-color: green;
}

.header-link {
  cursor: pointer;
}

.usericon{
  color: black;

