<div class="logged-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2>DueDate</h2>
      </div>
      <div class="col-lg-4">
        <!-- INTENTIONALLY EMPTY -->
      </div>
      <div class="col-lg-2">
        <p>Welcome John Doe </p>
      </div>

      <!--<p class="header-link" (click)="switchPage('team')">The Team</p>-->
      <div class="col-lg-2 dropdown">

        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Options
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>

      </div>


      </div>
  </div>
</div>




