<div class="logged-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2>DueDate</h2>
      </div>
      <div class="col-lg-4">
        <!-- INTENTIONALLY EMPTY -->
      </div>
      <div class="col-lg-2 user">
        <p>Welcome John Doe </p>
      </div>

      <!--<p class="header-link" (click)="switchPage('team')">The Team</p>-->
      <div class="col-lg-2 dropdown">

          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">What's in my fridge?</a></li>
            <li><a href="#">Add Groceries</a></li>
            <li><a href="#">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
      </div>



      </div>
  </div>
</div>




