<div class="logged-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2>DueDate</h2>
      </div>
      <div class="col-lg-4">
        <!-- INTENTIONALLY EMPTY -->
      </div>
      <div class="col-lg-2">
        <p class="header-link" (click)="switchPage('about')">Welcome </p>
      </div>

      <!--<p class="header-link" (click)="switchPage('team')">The Team</p>-->

      <div class="dropdown show">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>

    </div>
  </div>
</div>
</div>



