<app-logged-header></app-logged-header>

<style>
  @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Franklin');
</style>

<div class="main">
  <div class="title">
    <div class="listnames">
      <div class="listheader">
        {{list.name}} <a (click)="toggleAdd()" class="click"><i class="fas fa-edit section-icon"></i></a>
      </div>
      <div class="addToGroceries">
        <a>+ADD TO GROCERIES</a>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <hr>
</div>

<div class="main">
  <div class="search">
    <add-recipe (submit)="addItem($event)" *ngIf="add"></add-recipe>
  </div>
</div>


<div class="main">
  <div class="list" *ngFor="let item of list.contents">
    {{item.name}} <span style="float:right;"><i class="fas fa-trash-alt"></i></span>
  </div>
</div>
