.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 29% 1fr 29%;
    grid-template-rows: auto 1fr auto;
  }
}

.main{
  flex:1;
}

.title{
  font-family: 'Libre Franklin', sans-serif;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
  display: grid;
  grid-template-columns: fit-content(300px) auto fit-content(300px)
}


.search{
  padding-top: 10px;
  padding-right: 20px;
}

nav {
}

aside {
}

.list{
  background: rgba(255,255,255,0.75);
  padding-left: 2px;
  font-size: 85%;
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 2px;
  margin-bottom: 2px;
}

.list:hover{
  background: rgba(255,255,255,0.5);
}

.main2{
  display: grid;
  grid-template-columns: 29% 42% 29%;
  margin: 0px;
}

.addToGroceries{
  grid-column: 2/3;
  margin-top:11px;
  text-align: right;
  font-size: 10px;
  vertical-align: text-bottom;
  color: black;
}

span{
  cursor: pointer;
}

.listheader{
  margin-top: 5px;
  grid-column: 1/2;
}

ul{
  display: grid;
  grid-template-columns: 29% 42% 29%;
}

li{
  grid-column: 2/3;
}

app-recipe{
  grid-column: 2/3;
  margin-top: 5px;
}

