<app-logged-header></app-logged-header>

<div class="main">
  <div class="list">
    <div class="listnames">
      <div class="listheader">
        <a href=""> TUNA SANDWHICH </a>
      </div>
      <div class="addNewItem">
        <a href="">+ADD NEW ITEM</a>
      </div>
      <div class="addToGroceries">
        <a href="">+ADD TO GROCERIES</a>
      </div>
    </div>
    <hr>
    <ul>
      <li>Tuna</li>
      <li>Bread</li>
      <li>Cheese</li>
    </ul>
  </div>
</div>
