.main{
  display: grid;
  grid-template-columns: 29% 42% 29%;
}

.list{
  grid-column: 2/3;
  background: rgba(255,255,255,0.75);
  padding-left: 2px;
  font-size: 85%;
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}

a{
  cursor: pointer;
}

.list:hover{
  background: rgba(255,255,255,0.5);
}

.title{
  grid-column: 2/3;
}

.search{
  grid-column: 2/3;
  padding-top: 10px;
  padding-right: 20px;
}

hr{
  margin: 2px;
  grid-column: 2/3;
}

.main2{
  display: grid;
  grid-template-columns: 29% 42% 29%;
  margin: 0px;
}

.listnames{
  display: grid;
  grid-template-columns: 50% 32% 18%;
  /*font-family: 'Work Sans', sans-serif;*/
  font-family: 'Libre Franklin', sans-serif;
}

/*.addNewItem{*/
  /*margin-top:11px;*/
  /*grid-column: 2/3;*/
  /*text-align: right;*/
  /*font-size: 10px;*/
  /*margin-right: 0px;*/
  /*vertical-align: text-bottom;*/
/*}*/

/*li{*/
  /*font-family: 'Libre Franklin', sans-serif;*/
/*}*/

.addToGroceries{
  margin-top:11px;
  grid-column: 3/4;
  text-align: right;
  font-size: 10px;
  vertical-align: text-bottom;
  color: black;
  cursor: pointer;
}

.listheader{
  margin-top: 5px;
  grid-column: 1/2;
}

ul{
  display: grid;
  grid-template-columns: 29% 42% 29%;
}

li{
  grid-column: 2/3;
}

app-recipe{
  grid-column: 2/3;
  margin-top: 5px;
}

