<app-logged-header></app-logged-header>

<div class="main">
  <div class="list">
    <div class="listnames">
      <div class="listheader">
        TUNA SANDWHICH <a (click)="toggleAdd()" class="click"><i class="fas fa-edit section-icon"></i></a>
      </div>
      <div class="addToGroceries">
        <a href="">+ADD TO GROCERIES</a>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <hr>
</div>

<div class="main">
  <div class="search">
    <add-recipe (submit)="addItem($event)" *ngIf="add"></add-recipe>
  </div>
</div>


<div class="main">
  <div class="list" *ngFor="let item of list.contents">
    {{item.name}}
  </div>
</div>
