<style>
  @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Franklin');
</style>

<div class="main">
  <div class="list">
    <div class="listnames">
      <div class="listheader">
        <a href=""> LISTS </a>
      </div>
      <div class="viewall">
        <a href="">VIEW ALL</a>
      </div>
    </div>
    <hr>
    <div class = "listitems">
      <div class="list1">
        <div class="recipe">
          <a href="">
            <img class="img" src="assets/recipe.jpg">
          </a>
        </div>
        <hr>
        <p>Corn on the Cob</p>
      </div>
      <div class="list2">
        <div class="recipe">
          <a href="">
            <img class="img" src="assets/recipe.jpg">
          </a>
        </div>
        <hr>
        <p>Grilled Salmon Fillet</p>
      </div>
      <div class="list3">
        <div class="recipe">
          <a href="">
            <img class="img" src="assets/recipe.jpg">
          </a>
        </div>
        <hr>
        <p>Hangover Remedies</p>
      </div>
      <div class="list4">
        <div class="recipe">
          <a href="">
            <img class="img" src="assets/recipe.jpg">
          </a>
        </div>
        <hr>
        <p>Cheetos Alternatives</p>
      </div>
    </div>
  </div>
</div>
