.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 29% 1fr 29%;
    grid-template-rows: auto 1fr auto;
  }
}

.main{
  flex: 1;
}


.tit{
  font-family: 'Libre Franklin', sans-serif;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
  display: grid;
  grid-template-columns: fit-content(300px) auto fit-content(300px) fit-content(300px);
}

nav {
}

aside {
}

.search{
  flex: 1;
  padding-top: 10px;
  padding-right: 20px;
}

.main2{
  margin-top: 5px;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 20% auto;
  border: 1px solid #2e3038;
  border-radius: 10px;
}

h1{
  grid-column: 2/3;
  font-size: 1.6em;
  margin-top: 20px;
  font-family: 'Libre Franklin', sans-serif;
  margin-left: 5px;
}

a{
  color: black;
}

img{
  height: 150px;
  max-width: 100%;
  grid-column: 1/2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid #2e3038;
}

.titlename{
  grid-column: 1/2;
}

.section-icon{
  margin-bottom: 1px;
}

.btn-group{
  grid-column: 3/4;
  font-family: 'Libre Franklin', sans-serif;
}

.btn-group2{
  grid-column: 4/5;
}
