

.page-header {
  text-align: center;
  font-family: 'Basic', sans-serif;
}

.page-header > h1 {
  font-size: 350%;
}

.page-content {
  margin-top: 10px;
  background: rgba(255,255,255,0.85);
  font-family: 'Merriweather', serif;
}

.page-content > .row {
  margin-left: 3px;
  margin-right: 3px;
}
