<div class="container-fluid top-level">
  <div class="row">
    <div class="col-3">

    </div>
    <div class="col-6 page-content">
      <div class="page-header">
        <h1>DueDate</h1>
        <div class="page-tagline">
          <p>{{ taglines[taglineIndex] }}</p>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="col-md-12">
          <div>
            <div class="section-header">What we do:</div>
            <p>We're trying to revolutionize the way you do your groceries, and
            reduce problematic food waste. Did you know that </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div>
            <div class="section-header">Meet the Team: </div>
            <ul *ngFor="let m of members">
              <li><a [href]="getGithubLink(m.github)">{{ m.name }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">

    </div>
  </div>
</div>
