
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "content"
    "sidebar";
}

/*.left-content{*/
  /*text-align: left;*/
  /*font-size: 100%;*/
  /*color: green;*/
/*}*/

.empty{
  grid-area: empty;
}
.empty2{
  grid-area: empty2;
}
.empty3{
  grid-area: empty3;
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 5% 60% 5% 25% 5%;
    grid-template-areas:
      "empty header empty2 sidebar empty3"
      "empty content empty2 sidebar empty3"
  }
  nav ul {
    flex-direction: column;
  }
}

.login-box{
  color: black;
  padding: 0px;
}

.login{
  margin-top: 2px;
  grid-area: sidebar;
}

.section-header {
  font-size: 1.6em;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
  font-family: 'Basic', sans-serif;
  cursor: pointer;
  text-align: center;
}

.about {
  margin-top: 2px;
  background: rgba(255,255,255,0.75);
  border: 1px solid #2e3038;
  padding-left: 15px;
  grid-area: header;
}

.team {
  margin-top: 2px;
  background: rgba(255,255,255,0.75);
  border: 1px solid #2e3038;
  padding-left: 15px;
  grid-area: content;
}

.section-icon{
  margin-right: 5px;
}
