
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "content"
    "sidebar"
    "ad"
    "footer";
}

/*.left-content{*/
  /*text-align: left;*/
  /*font-size: 100%;*/
  /*color: green;*/
/*}*/

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "empty header header  sidebar"
      "empty content content sidebar"
  }
  nav ul {
    flex-direction: column;
  }
}

.login-box{
  color: black;
  padding: 0px;
}

.login{
  margin-top: 2px;
  background: rgba(255,255,255,0.75);
  grid-area: sidebar;
}

.section-header {
  font-size: 1.6em;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
  font-family: 'Basic', sans-serif;
  cursor: pointer;
  text-align: center;
}

.about {
  margin-top: 2px;
  background: rgba(255,255,255,0.75);
  border: 1px solid #2e3038;
  padding-left: 15px;
  grid-area: header;
}

.team {
  margin-top: 2px;
  background: rgba(255,255,255,0.75);
  border: 1px solid #2e3038;
  padding-left: 15px;
  grid-area: content;
}



.section-icon{
  margin-right: 5px;
}
