<div class="main">
  <div class="container todd-header">
    <div class="row">
      <div class="col-lg-2">
        <h2>DueDate</h2>
      </div>
      <div class="col-lg-7">
        <!-- INTENTIONALLY EMPTY -->
      </div>
      <div class="col-lg-1">
        <a class="header-link text-center" (click)="switchPage('about')">About</a>
      </div>
      <div class="col-lg-2">
        <a class="header-link text-center" (click)="switchPage('team')">The Team</a>
      </div>
    </div>
  </div>
</div>
