.main{
  display: grid;
  grid-template-columns: 29% 42% 29%;
}

.todd-header {
  color: white;
  background-color: green;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 20% 40% 15% 15%;
}

.header-link {
  cursor: pointer;
}

.logo{
  grid-column: 1/2;
}

.middle{
  grid-column: 2/3;
}


.about{
  grid-column: 3/4;
}

.team{
  grid-column: 4/5;
}

