.main{
  display: grid;
  grid-template-columns: 29% 42% 29%;
}

.todd-header {
  color: white;
  background-color: green;
  grid-column: 2/3;
}

h2{
  /*text-align: right;*/
  /*padding-right: 60px;*/
}

.header-link {
  cursor: pointer;
}
